<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Breuninger</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        tr.selected {
            color: black !important;
            background-color: #E6D1D2!important;
        }

        ::selection{
            background-color:white!important;
            color:black;
        }
        #buttonAnzeigen:hover{
            color:#861a22;
            background-color:transparent ;
        }

        #buttonAnzeigen{
            background-color: transparent;
            border: white;
        }

    </style>
</head>
<body>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container-wrap" style="height: 120px;">
            <div class="top-menu">
                <div class="row">
                    <div class="col-xs-2">
                        <div><a href="/buchungen/startseite_breuninger"><img src="../images/logo-breuninger.jpeg" style="padding-bottom:10px; width: 200px; height:70px;"></a></div>
                    </div>
                    <div class="col-lg-9 text-right menu-2" style="padding-top: 20px; padding-left: 120px;">
                        <ul>
                            <li class="active"><a href="/buchungen/startseite_breuninger"><span class="fa fa-home"></span> Startseite</a></li>
                            <li><a href="/users/Benutzerverwaltung_Mitarbeiter"><span class="fa fa-user"></span> Benutzerverwaltung</a></li>
                            <li><a href="Torverwaltung_Mitarbeiter.html"><span class="fas fa-archway"></span> Torverwaltung</a></li>
                            <li><a href=""><span class="fa fa-power-off"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-wrap">
        <div class="flexslider">
        <h1>Buchungsübersicht</h1>
            <table id="example" class="display" style="text-align: center">
                <thead>
                <tr>
                    <th style="text-align: center">Spediteur</th>
                    <th style="text-align: center">Tor</th>
                    <th style="text-align: center">Datum</th>
                    <th style="text-align: center">Von</th>
                    <th style="text-align: center">Bis</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <%for (var i = 0; i < buchungen.length; i++) {
                var monat = 1 + buchungen[i].from.getMonth();
                var von = -1 + buchungen[i].from.getHours();
                var vonMin = buchungen[i].from.getMinutes();
                var bis = -1 + buchungen[i].to.getHours();
                var bisMin = buchungen[i].to.getMinutes();
                if(bisMin == 00){
                    bisMin = bisMin + "0";
                }
                if(vonMin == 00){
                    vonMin = vonMinn + "0";
                }
                %>
                <tr>
                    <td><%=buchungen[i].user%></td>
                    <td><%=buchungen[i].tor%></td>
                    <td><%=buchungen[i].from.getDate()+"."+monat+"."+buchungen[i].from.getFullYear()%></td>
                    <td><%= von +":"+vonMin%></td>
                    <td><%= bis+":"+bisMin%></td>
                    <td><form action=""><button id="buttonAnzeigen" type="submit" name="buchung" href=""data-toggle="tooltip" title="Anzeigen"><i class="fas fa-search"></i></button></form></td>
                </tr>
                <% monat ++;
                    if(monat == 13){
                        monat = 1;
                    }
                }%>

                </tbody>
            </table>
        </div>
    </div><!-- END container-wrap -->

    <div class="container-wrap">
        <footer id="fh5co-footer" role="contentinfo">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Kontaktinformation</h4>
                    <div class="fh5co-footer">
                        <p><br> E. Breuninger GmbH & Co. <br> <i class="fas fa-home"></i> &nbsp Eschenbrünnlestraße 11, 71065 Sindelfingen
                            <br>Mo-Fr 07:00 bis 15:00 Uhr
                            <br><i class="fas fa-phone-alt"></i><a href="tel://1234567920"> &nbsp +49 (0) 7031 / 616 2437</a>&nbsp;
                            <br><i class="fas fa-print"></i><a href="tel://1234567920"> &nbsp +49 (0) 7031 / 616 2036</a>&nbsp;
                            <br><i class="fas fa-envelope"></i><a href="mailto:info@breuninger.com"> &nbsp wareneingang.logistik@breuninger.de</a>
                            <br><a href="https://www.breuninger.com/de/"> www.breuninger.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-md-12 text-center"style="margin-bottom: 10px">
                    <p>
                        <small class="block">&copy; 2020 Breuninger. All Rights Reserved.</small>
                    </p>
                </div>
            </div>
        </footer>
    </div><!-- END container-wrap -->


</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>

<script>

    $(document).ready(function () {
        var table = $('#example').DataTable({
            bInfo: false,
            paging:false,
            searching: false,
            scrollY: "500px",
            ScrollCollapse: true,
            aaSortingFixed: [[2,'asc'], [3,'asc']],
        });

        $('#example tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );

        $('#button').click( function () {
            table.row('.selected').remove().draw( false );
        } );

    } );
</script>
</body>
</html>

